
# compiled PoC binaries
research/*/bpf_poc
research/*/cgroup_poc
research/*/fuse_poc
research/*/io_uring_poc
research/*/nft_poc
research/*/nft_research
research/*/nft_research2
research/*/fuse_alias_poc
research/*/attacker_pod
research/*/fuse_uring_poc
research/*/fuse_uring_race
research/*/fuse_uring_exploit
# downloaded packages
research/*/*.deb
*.deb
